# Stock Price Forecasting Using Historical Data and Financial Indicators

## 1. Project Overview

### Understanding the Data
The dataset includes the following columns:

- **Date**: Date of the stock data
- **Open**: Opening price
- **High**: Highest price of the day
- **Low**: Lowest price of the day
- **Close**: Closing price
- **Adj Close**: Adjusted closing price (accounting for corporate actions)
- **Volume**: Number of shares traded


The dataset spans 1258 days, from September 3, 2019, to August 30, 2024.

data source: https://finance.yahoo.com/quote/NDAQ/history/?guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAALB1rZy_4joT3mpo_wfv9r9Vd7iSZNLta4NzV0kttnLWT1eDGj7bGAF8EhCU1EAqQ2GAv5TmEocemroSqvY4ajSEp8hC1rNJs9v43gBU-jLP_SYXRiTkppugoPMYOh1foQDMBABm8hTBG1SvgLyf8k3S7r4oJfvUlIWx2Kyj81GL&guccounter=2&period1=1567241948&period2=1724976000

## 2. Imports

In [1]:
import pandas as pd

## 3. Data Loading

In [5]:
stock = pd.read_csv('./datasets/NDAQ.csv')
stock.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2019-09-03  33.279999  33.366669  33.006668  33.176666  30.771736  1091700
1  2019-09-04  33.340000  33.389999  33.049999  33.303333  30.889227  1215000
2  2019-09-05  33.570000  34.036667  33.413334  34.006668  31.541580  1826700
3  2019-09-06  34.116669  34.813332  34.049999  34.753334  32.234119  2254800
4  2019-09-09  34.930000  35.086666  34.223331  34.279999  31.795088  1612200

In [8]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1258 non-null   object
 1   Open       1258 non-null   float64
 2   High       1258 non-null   float64
 3   Low        1258 non-null   float64
 4   Close      1258 non-null   float64
 5   Adj Close  1258 non-null   float64
 6   Volume     1258 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 68.9+ KB